.restaurant-each-overlay {
    height: 160px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    @media screen and (max-device-width: 414px) {
        height: auto;
        align-items: end;
    }
}

img.restaurant-image {
    height: 100%;
    width: 175px;
    @media screen and (max-device-width: 414px) {
      width: 125px;
    }
}

.right-section {
    padding-left: 15px;
    height: 100%;
    width: 100%;
    text-align: left;
    position: relative;
}

.restaurant-name {
    font-size: 20px;
    margin-bottom: 10px;
    @media screen and (max-device-width: 414px) {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    span {
      font-size: 14px;
      color: #4a4a4a;
      padding-left: 10px;
        @media screen and (max-device-width: 414px) {
          display: block;
          padding-left: 0;
          font-weight: 100;
          font-size: 12px;
        }
    }
}

.fa-star {
  margin-left: 3px;
  color: #ccc;
  &.checked {
      color: orange;
  }
}

.button-book-table {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #2a7703;
    padding: 10px 32px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px grey;
    @media screen and (max-device-width: 414px) {
      padding: 6px 10px;
      font-size: 14px;
      position: absolute;
    }
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
}

.small-text {
  font-size: 14px;
  color: #4a4a4a;
  @media screen and (max-device-width: 414px) {
    font-size: 10px;
  }
}

.med-text {
  font-weight: bold;
}

.f15 {
  font-size: 15px;
  @media screen and (max-device-width: 414px) {
    font-size: 12px;
  }
}

.margin-down {
  margin-bottom: 5px;
  @media screen and (max-device-width: 414px) {
    margin-bottom: 3px;
  }
}

.available {
  color: green;
}

.not-available {
  color: red;
}
