.App {
  text-align: center;
  width: 1240px;
  margin: auto;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-image: url('./bg-image.jpg');
  height: 270px;
  padding: 20px;
  color: white;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search-container {
  margin: auto;
  width: 65%;
  text-align: left;
}


/*auto complate css starts*/
.search-form{
  display: flex;

  div#PlacesAutocomplete__root{
    width: 70%;
    input {
      display: inline-block;
      width: calc(100% - 20px)!important;
      padding: 10px;
      font-size: 16px!important;
      border-radius: 3px 0 0 3px!important;
      border: none!important;
    }
  }
  button{
    width: 30%;
    background-color: #b8860b;
    color: #FFF;
    font-size: 15px;
    border: none;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
}

.loader {
  width: 100px;
}
/*auto complate css ends*/
